a {
    text-decoration: none;
}

.product-grid {
    padding: 3rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 20px;
    column-gap: 20px;
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    img {
        aspect-ratio: 1 / 1;
        object-fit: contain;
        margin-bottom: 2rem;
    }

    .product-category {
        font-size: 16px;
        font-weight: 600;
        color: #27DEFF;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .product-title {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 5px;
    }

    .product-rating-container {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-bottom: 5px;

        span {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .product-price {
        font-size: 20px;
        font-weight: 600;
        color: black;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}