* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.jumbotron {

  height: calc(100vh - 97px);
  background-image: url('https://queue-it.com/media/ppcp1twv/product-drop.jpg');
  background-size: cover;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    h1 {
      color: white;
    }

    .btn {
      padding: 20px 40px;
      font-size: 20px;
      font-weight: 700;
      border-radius: 40px;
    }

    .btn-primary {
      background-color: white;
      border: 2px solid white;
    }

    .btn-primary:hover {
      cursor: pointer;
      background-color: rgb(218, 218, 218);
      border: 2px solid rgb(218, 218, 218);
    }
  }
}

.jumbotron-secondary {
  height: 300px;
  background-image: url('https://queue-it.com/media/ppcp1twv/product-drop.jpg');
  background-size: cover;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    h1 {
      color: white;
    }
  }
}

.single-product-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 97px);

  img {
    width: 50%;
    height: 80%;
    object-fit: contain;
  }

  .single-product-details {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    width: 50%;
    height: 100%;

    span {
      display: inline-block;
    }

    .product-category {
      font-size: 16px;
      font-weight: 600;
      color: #27DEFF;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .product-title {
      font-size: 40px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
    }

    .product-description {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
    }

    .product-rating-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      margin-bottom: 5px;

      .rating-rate {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.6);
      }

      .rating-count {
        margin-left: 10px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    hr {
      opacity: 0.2;
      margin-bottom: 10px;
    }

    .product-price {
      font-size: 30px;
      font-weight: 00;
      color: black;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    .cta {
      display: flex;
      gap: 10px;

      .btn {
        width: 40%;
        padding: 15px 30px;
        font-size: 20px;
        font-weight: 700;
      }

      .btn-primary {
        color: white;
        background-color: black;
        border: 2px solid black;
      }

      .btn-primary:hover {
        cursor: pointer;
        background-color: rgb(63, 63, 63);
        border: 2px solid rgb(63, 63, 63);
      }

      .btn-outline {
        color: black;
        background-color: transparent;
        border: 2px solid black;
      }

      .btn-outline:hover {
        cursor: pointer;
        background-color: rgb(242, 242, 242);
        border: 2px solid black;
      }
    }

  }
}

.navigation-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  padding: 1rem;
  width: 100%;

  .navigation-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
  }
}